# APP
APP_PORT=8000
APP_HOST=localhost
DEBUG_MODE=true

# API
API_PATH=/api/v1/

# MISC
FORCE_SSL=false

# External Services

## PSQL
### To enable PSQL connection, set PSQL_ENABLED true
PSQL_ENABLED=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres