<!-- header.html -->
<header>
    <nav>
        <div class="bg-slate-500 dark:bg-slate-700 fixed w-full">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/" class="text-white font-bold">
                    <img class="w-14 mb-0" src="/assets/img/logo.png" alt="GoBlitz">
                </a>
                <div class="flex items-center">
                    <ul class="flex">
                        <li><a href="/" class="text-white">Home</a></li>
                        <li><a href="/status" class="text-white ml-8">Status</a></li>
                        <li><a href="/login" class="text-white ml-8">Login</a></li>
                        <li><a href="https://docs.goblitz.org/" class="text-white ml-8">Documentation</a></li>
                    </ul>
                    <a href="https://github.com/KostLinux/Goblitz" class="ml-8 text-white text-3xl">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>