<!-- header.html -->
<header>
    <nav>
        <div class="bg-emerald-500 dark:bg-emerald-700 fixed w-full">
            <div class="container mx-auto flex justify-between">
                <a href="/" class="text-white font-bold">GoBlitz</a>
                <div class="flex">
                    <ul class="flex">
                        <li><a href="/" class="text-white">Home</a></li>
                        <li><a href="/status" class="text-white ml-4">Status</a></li>
                        <li><a href="/docs" class="text-white ml-4">Documentation(Coming soon)</a></li>
                    </ul>
                    <a href="https://github.com/KostLinux/Goblitz" class="ml-4 text-white text-xl">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>